odd/mordigital.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>MORDigital
                    <desc>18th c. monolingual Portuguese legacy dictionary in TEI Lex-0 with facsimile.</desc>
                </title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under
                        GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref></p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="mordigital.css" />
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2023-05-02+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="mordigital" source="teilex0.odd">
                <elementSpec ident="author" mode="change">
                    <model predicate="ancestor::teiHeader" behaviour="block" />
                    <model predicate="parent::bibl[@type='attestation']" behaviour="inline"
                        cssClass="italic">
                        <desc>Author in bibliographical reference of attestation (is in italic)</desc>
                    </model>
                    <model behaviour="inline" />
                </elementSpec>
                <elementSpec ident="quote" mode="change">
                    <model predicate="$parameters?entry-parts='headword'" behaviour="omit" />
                    <model predicate="ancestor::entry" behaviour="inline" cssClass="italic" useSourceRendition="true">
                        <desc>If it is inside an entry then it is inline and without additional quotes</desc>
                    </model>
                    <model predicate="ancestor::p" behaviour="inline" useSourceRendition="true">
                        <desc>If it is inside a paragraph then it is inline, otherwise it is block
                            level</desc>
                        <outputRendition xml:space="preserve" scope="before">content: '‘';</outputRendition>
                        <outputRendition xml:space="preserve" scope="after">content: '’';</outputRendition>
                    </model>
                    <model behaviour="block" useSourceRendition="true">
                        <desc>If it is inside a paragraph then it is inline, otherwise it is block level</desc>
                        <outputRendition xml:space="preserve">margin-left: 10px; margin-right: 10px;</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="title" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="heading">
                        <param name="level" value="5" />
                    </model>
                    <modelSequence predicate="parent::titleStmt/parent::fileDesc">
                        <model predicate="preceding-sibling::title" behaviour="text">
                            <param name="content" value="' — '" />
                        </model>
                        <model behaviour="inline" />
                    </modelSequence>
                    <model predicate="parent::bibl[@type='attestation']" behaviour="inline"
                        cssClass="italic">
                        <desc>Title in bibliographical reference of attestation (is in italic)</desc>
                    </model>
                    <model predicate="not(@level) and parent::bibl" behaviour="inline" />
                    <modelSequence predicate="@level='m' or not(@level)">
                        <model behaviour="inline">
                            <outputRendition xml:space="preserve">font-style: italic;</outputRendition>
                        </model>
                        <model predicate="ancestor::biblFull" behaviour="text">
                            <param name="content" value="', '" />
                        </model>
                    </modelSequence>
                    <modelSequence predicate="@level='s' or @level='j'">
                        <model behaviour="inline">
                            <outputRendition xml:space="preserve">font-style: italic;</outputRendition>
                        </model>
                        <model predicate="following-sibling::* and (ancestor::biblFull)"
                            behaviour="text">
                            <param name="content" value="', '" />
                        </model>
                    </modelSequence>
                    <modelSequence predicate="@level='u' or @level='a'">
                        <model behaviour="inline">
                            <outputRendition xml:space="preserve">font-style: italic;</outputRendition>
                        </model>
                        <model predicate="following-sibling::* and (ancestor::biblFull)"
                            behaviour="text">
                            <param name="content" value="'. '" />
                        </model>
                    </modelSequence>
                    <model behaviour="inline" cssClass="italic" useSourceRendition="true" />
                </elementSpec>
                <elementSpec ident="gram" mode="change">
                    <model behaviour="inline" useSourceRendition="true" cssClass="gram" />
                </elementSpec>
                <elementSpec ident="usg" mode="change">
                    <model predicate="$parameters?entry-parts='headword'" behaviour="omit" />
                    <model predicate="not(node())" behaviour="omit" />
                    <model predicate="@type='domain'" behaviour="inline" cssClass="domain">
                        <desc>Domain labels (allways in italic)</desc>
                    </model>
                    <model behaviour="inline" useSourceRendition="true">
                        <param name="type" value="@type"/>
                        <param name="rend" value="@rend"/>
                        <pb:template xmlns="">
                            <span class="usg [[type]] [[rend]]">[[content]]</span>
                        </pb:template>
                    </model> 
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="$parameters?entry-parts='headword'" behaviour="omit" />
                    <model behaviour="inline" cssClass="italic" useSourceRendition="true" />
                </elementSpec>
                <elementSpec ident="abbr" mode="add">
                    <model predicate="$parameters?entry-parts='headword'" behaviour="omit" />
                    <model behaviour="inline" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="bibl" mode="change">
                    <model predicate="$parameters?entry-parts='headword'" behaviour="omit" />
                    <model predicate="parent::listBibl" behaviour="listItem"/>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="metamark" mode="change">
                    <model predicate="$parameters?entry-parts='headword'" behaviour="omit" />
                    <model behaviour="inline" useSourceRendition="true"/>
                    <model predicate="@join='left'" behaviour="inline" cssClass="join-left" useSourceRendition="true" />
                </elementSpec>
                <elementSpec ident="pc" mode="change">
                    <model predicate="$parameters?entry-parts='headword'" behaviour="omit" />
                    <model predicate="@join='left'" behaviour="inline" cssClass="join-left" useSourceRendition="true" />
                    <model predicate="@join='right'" behaviour="inline" cssClass="join-right" useSourceRendition="true" />
                    <model behaviour="inline" useSourceRendition="true"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>